#main {
    display: flex;
    flex-direction: column;
    background-color: black;;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 50vh;
    width: 100%;
}



#navbar {
    display: flex; 
    justify-content: flex-end;
    
}

#links {
    list-style: none;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    padding-right:  25px;
    gap: 25px;
    font-size: 18px;
}


.hero-banner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    
}

.hero {
    width: 40%;
    height: 15vh;
}

.hero-text {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
}


.hero-image {
    background-color: #6C747D;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
}

.signup {
    color: #ffffff;
    background-color: #3382F6;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
}

#information {
    color: white;
    background-color: white;
    height: 25vh;
    width: 100%;
}

#testimonials {
    background-color: #E5E7EB;
    font: 36px light italic #1F2937;
    height: 25vh;
    width: 100%;
}

#action {
    background-color: white;
    height: 20vh;
    width: 100%;;
}


#footer {
    background-color: #1F2937;
    height: 10vh;
    width: 100%;
}