#main {
    display: flex;
    flex-direction: column;
    background-color: black;;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 50vh;
    width: 100%;
}



#navbar {
    display: flex; 
    justify-content: flex-end;
    
}

#links {
    list-style: none;
   
    display: flex;
    flex-direction: row;
    padding-right:  25px;
    gap: 25px;
    
}


.hero-banner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    
}

.hero {
    width: 40%;
    height: 15vh;
}

.hero-text {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary_text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: #6C747D;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
}

.signup {
    color: #ffffff;
    background-color: #3382F6;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
}

#information {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: white;
    height: 45vh;
    width: 100%;
    
}

#informationHeader {
   margin-bottom: 10vh;
}

#infoDiv {
    display: flex;
    gap: 4vh;
}

.info_picture {
    height: 14vh;
    width: 13vh;
    border: .3vh solid #3882F6;
    border-radius: 2vh;
    margin-bottom: 15vh;
  
}

#testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    font: 36px light italic #1F2937;
    height: 50vh;
    width: 100%;
}



.testimonialText {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

#action {
    background-color: white;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actionSignup {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 15vh;
    width: 70%;
    background-color: #3382F6;
    border-radius: 1vh;
    margin-left: 0;
    margin-right: 0;
}

#actionHeader {
    color: #ffffff;
    margin-bottom: 0;
}

.statement {
    margin-top: 0;;
}

.format {
    margin-left: 2vh;
    margin-right: 25vh;
}

#actionButton {
    margin-right: 10vh;
}
.border {
    border: .3vh solid #ffffff;
}

#footer {
    background-color: #1F2937;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}